[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.109.1"
uvicorn = "==0.27.0.post1"
redis = "*"
passlib = "*"
bcrypt = "*"
PyCrypto = "*"
psycopg2 = "*"
psycopg2-binaries = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
